﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="forgotpassword.aspx.cs" Inherits="CopyMeSportsWebAPI.forgotpassword" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <asp:Label ID="lblpwd" runat="server" Visible="true">Enter Your New Password : </asp:Label> <asp:TextBox ID="txtPassword" runat="server" Visible ="true"></asp:TextBox><br />
        <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" Visible ="true"/>
       <br /> <asp:Label ID="lblmsg" runat="server" Visible="false"></asp:Label> <br /> 
    </div>
    </form>
</body>
</html>
