﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadVideo.aspx.cs" Inherits="CopyMeSportsWebAPI.UploadVideo" %>

 <%--<html>

    <body>
        <form runat="server">
     <input type="file" name="files" runat="server" /><br />
        <asp:Button ID="Button1" Text="click" OnClick="Button1_Click" runat="server" />
            </form>
    </body>
</html>--%>
